html {
    overflow: hidden;
    font-family: 'anivers', sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #EBE7D6;
    justify-content: center;
    z-index: -1;
}
.title{
    font-family: 'anivers', sans-serif;
    font-size: 25vw;
    color:white;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.button1{
    padding: 7px 110px;
    margin-left: auto;
    margin-right: auto;
}
.ui-dialog-content{
    font-family: 'Karla', sans-serif;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}

.dialog{
  display: hidden;
}

.swamp{
  position: absolute;
  display: none;
  overflow: hidden;
  left: -10px;
  top: -50px;
}
img{
width: 1000px;
}
.wholeDamnThing{
  overflow: hidden;
}
